@charset "utf-8";

body {
    margin-top: 70px;
    background-color: azure;
    color: MidnightBlue;
    word-wrap: break-word;
}
.card-block {
    padding: 10 px;
}

.btn {
    font-weight: 600;
    font-size: 1.3rem;
}

.addbtn {
    color: DimGray;
    background-color: #cef5c3;
    border-radius: .3rem;
}

#reviews {
    margin: 5px;
    text-align: center;
    border: 4px white;
    padding: 15px;
    font-size: 1.3em;
}

#reviews p {
    margin: 0;
}

#output {
    margin-top: 15px;
}