@charset "utf-8";
/* CSS Document */

body, html {
    text-align: justify;
    margin: 0;
}

body {
    width: auto;
    adding: 10;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0 auto;
}

.header {
    margin: 0;
    p
    width: auto;
    height: 94px;
    align-content: center;
    background-color: #0000ff1a;
    text-align: center;
}

.main p{
    margin: 15 20 30 15;
    padding: 10px;
    text-align: center;
}

.links {
    float: right;
    margin-right: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0000ff1a;
  color: blue;
  text-align: center;
}